<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-brand">Ember Redditor</a>
    </div>
    <ul class="nav navbar-nav">
      {{#each}}


      <li>{{#link-to "subreddit" this}}{{this}}{{/link-to}}  </li>

      {{/each}}
    </ul>
  </div>
</nav>

{{outlet}}
